html, #root{
    background-color: #ECECFF;
}
.container {
    height: 100%;
    text-align: center;
    font-family: 'Inkfree';
}

.imgLogo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

.label {
    font-weight: bold;
    font-size: xx-large;
}

.button {
    background-color: #FFA700!important;
    border-color: #FFA700!important;
    font-size: 30px!important;
    height: 20%!important;
    width: 20%!important;
}

.wrongCredentials{
    font-size: 25px;
    color: red;
}