.container {
    text-align: center;
    font-family: 'Inkfree';
}

.imgLogo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    height: 75%;
}

label {
    font-weight: bold;
    font-size: xx-large;
}

button {
    background-color: #FFA700!important;
    border-color: #FFA700!important;
    font-size: 30px!important;
    height: 20%;
    width: 20%;
}