.center{
    margin-left: auto;
    margin-right: auto;
}

.button13 {
    background-color: #FFA700!important;
    border-color: rgb(209, 101, 0)!important;
    font-size: 30px!important;
    height: 20%;
    width: 50%;
}